 h1 {
    color: black;
    font-style: italic;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    text-align: center;
}
h2{
    color:gray;
    font-style:normal;
    font-weight: thin;
    text-align: center;
    font-weight: bolder;
}
h3{
    display: flex;
    color: black;
    font-style: normal;
    text-align: justify;
    align-items: flex-start;
}
.button{
    display: inline-block;
    padding: 12px 24px;
    background-color: red;
    text-decoration: none;
    border-radius: 6px;
    color: #fff;
    font-size: 22px;
}
.button:hover{
    background-color: blue;
    color: cadetblue;
}
img{
   width: 500px;
}
  li{
    display: flex;
    color: black;
    font-style: bold;
    font-size: large;
    text-align: justify;
    align-items: center;
    font-style: italic;
    font-weight: bold;
}
body{
    background: url("https://wallpapers.com/images/featured/green-background-ivfksvptao7sdhrg.jpg") fixed center,top;
    background-color: greenyellow;
}
.input{
    display: flex;
    align-content: center;

}
.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 720px;
}
.content {
  color: #646464;
  display: flex;
  padding: 0 10px;
  margin-top: 36px;
  width: 100%;
}
html {
  color: #646464;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 18px;
}

@media screen and (min-width:480px) {
  
}
@media screen and (max-width:768px){
  .content{
    display: block;
  }

}
@media screen and (min-width:480px) {
  
}
@media screen and (max-width: 768px) {
  body{
    color:aquamarine
  }
}